@media (max-width: 640px) {
    .footer-column {
        flex: 1 1 48%;
        max-width: 48%;
    }
}

@media (max-width: 1024px) {
    .footer-column {
        flex: 1 1 22%;
        max-width: 22%;
    }
}

.social-icons a,
.payment-systems a {
    cursor: pointer;
}

.social-icons a:hover,
.payment-systems a:hover {
    opacity: 0.4;
}

.payment-systems {
    margin-top: 110px; 
    margin-left: -36px;
}