@media (max-width: 480px) {
    .footer {
        width: 430px !important;
    }
}

@media (max-width: 640px) {
    .footer-columns {
        flex: 1 1 48%;
        max-width: 48%;
    }

    .footer-column {
       margin-left: 100px;
    }

    .footer-column:nth-child(1) {
       margin-top: -20px;
    }

    .footer-column:nth-child(2) {
       margin-top: -60px;
    }

    .footer-column:nth-child(3) {
       margin-top: -60px;
    }

    .footer-bottom {
        margin-top: 15px !important;
    }

    .footer-column:nth-child(1) .footer-lists__heading {
        margin-top: 5px !important;
    }

    .footer-column:nth-child(2) .footer-lists__heading {
        margin-top: 2px !important;
    }

    .footer-column:nth-child(3) .footer-lists__heading {
        margin-top: 2px !important;
    }

    .footer-lists {
        margin-top: -12px !important;
    }

    .footer-column h4 {
        margin-top: -50px !important;
    }

    .payment-systems {
        margin-top: 20px !important;
        width: 700px;
    }
}

@media (max-width: 1024px) {
    .footer-columns {
        flex: 1 1 22%;
        max-width: 22%;
    }
}

.social-icons a,
.payment-systems a {
    cursor: pointer;
}

.social-icons a:hover,
.payment-systems a:hover {
    opacity: 0.4;
}

.payment-systems {
    margin-top: 110px; 
    margin-left: -36px;
}