@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aklimat MF Bold";
  src: url('./assets/fonts/AklimatMFBold/Bold/AklimatMFBold.ttf') format('truetype');
  font-weight: bold;
  font-style: regular;
}

body {
  overflow-x: hidden;
}

.text-white-ffffff {
    color: #d2c7c7;
}

.header-logo {
    font-family: "Aklimat MF Bold", sans-serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.red-hat-display {
    font-family: "Red Hat Display", sans-serif;
}

.red-hat-display-400 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.red-hat-display-600 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.hover-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.hover-underline:hover::after {
    width: 60%;
}

.header {
    width: 100%;
    background-color: white;
}

.text-\[11\.9px\] {
    color: white;
    font-weight: 600;
}

.text-\[10\.9px\] {
    color: white;
    opacity: 0.4;
    font-weight: 400;
}

.input-container {
    width: 384px ;
}

.menu-container {
    top: 75px;
    left: 50px;
}

@media (max-width: 768px) {
    .header-logo {
        top: 20px !important;
        left: 20px !important;
        font-size: 24px !important;
    }

    .burger-menu {
        top: 24px !important;
        left: auto !important;
        right: 20px !important;
    }

    .location-search {
        flex-direction: column;
        gap: 12px;
        top: 80px !important;
        left: 20px !important;
        width: calc(100% - 40px);
        color: #d629bc;
    }

    .location-btn,
    .search-bar {
        width: 100% !important;
    }

    .nav-icons {
        display: none;
    }

    .mobile-menu {
        width: 95%;
        height: 70vh;
        top: 65px;
        left: 8px;
        padding: 40px 20px;
        overflow-y: auto;
    }

    .mobile-input-container {
        width: 100%;
    }

    .mobile-input {
        height: 50px;
    }

    .menu-container {
        top: 40px;
        left: -10px;
        width: 316px;
    }

    .iloom-logo {
        top: 30px;
        left: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .location-search {
        left: 200px !important;
        width: 500px !important;
    }

    .nav-icons {
        left: auto !important;
        right: 40px !important;
    }
}

@media (max-width: 1024px) {
    .banner .inner { 
        padding: 64px 20px; 
    }

    .banner h1 { 
        font-size: 72px; 
    }

    .banner h4 { 
        font-size: 20px; 
    }
}

@media (max-width: 640px) {
    .banner .inner { 
        padding: 48px 16px; 
    }

    .banner h1 { 
        font-size: 48px; 
    }

    .banner h4 { 
        font-size: 16px; 
    }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
