@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aklimat MF Bold";
  src: url('./assets/fonts/AklimatMFBold/Bold/AklimatMFBold.ttf') format('truetype');
  font-weight: bold;
}

body {
  overflow-x: hidden;
}

.text-white-ffffff {
    color: #d2c7c7;
}

.header-logo {
    font-family: "Aklimat MF Bold", sans-serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.red-hat-display {
    font-family: "Red Hat Display", sans-serif;
}

.red-hat-display-400 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.red-hat-display-600 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.hover-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.hover-underline:hover::after {
    width: 60%;
}

.header {
    width: 100%;
    background-color: white;
}

.text-\[11\.9px\] {
    color: white;
    font-weight: 600;
}

.text-\[10\.9px\] {
    color: white;
    opacity: 0.4;
    font-weight: 400;
}

.input-container {
    width: 384px ;
}

.menu-container {
    top: 75px;
    left: 50px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
