@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aklimat MF Bold";
  src: url('./assets/fonts/AklimatMFBold/Bold/AklimatMFBold.ttf') format('truetype');
  font-weight: bold;
}

body {
  overflow-x: hidden;
}

.text-white-ffffff {
    color: #d2c7c7;
}

.header-logo {
    font-family: "Aklimat MF Bold", sans-serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.red-hat-display {
    font-family: "Red Hat Display", sans-serif;
}

.red-hat-display-400 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.red-hat-display-600 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.hover-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.hover-underline:hover::after {
    width: 60%;
}

.header {
    width: 100%;
    background-color: white;
}

.text-\[11\.9px\] {
    color: white;
    font-weight: 600;
}

.text-\[10\.9px\] {
    color: white;
    opacity: 0.4;
    font-weight: 400;
}

.input-container {
    width: 384px ;
}

.menu-container {
    top: 75px;
    left: 50px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.footer {
    width: 115%;
    margin-left: -125px;
    background-color: #212429;
    color: white;
    padding: 40px 20px;
    font-family: sans-serif;
}

.footer-top {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.footer-contact {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-columns {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}

.footer-column {
    min-width: 200px;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-lists li a {
    opacity: 64%;
    line-height: 170%;
}

.footer-buttons {
    background-color: #ffffff;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

