.banner-slogans__container {
    margin-top: 256px;
}

.fewer-words-more-embroidery {
    font-size: 100px;
    max-width: 2000px;
    font-weight: 400;
    padding-top: 200px;
}

.everything-else-is-excuses {
    margin-top: 40px;
    margin-left: 7px;
    max-width: 2000px;
}

@media (max-width: 1024px) {
    .banner-title {
        font-size: 72px;
        padding-top: 8rem;
    }

    .banner-subtitle {
        font-size: 20px;
        margin-top: -2rem;
    }

    .banner-content {
        margin-top: 12rem;
    }
}

@media (max-width: 768px) {
    .banner-content {
        margin-top: 8rem;
    }

    .fewer-words-more-embroidery {
        font-size: 36px;
        padding-top: 5rem;
        margin-left: -1rem;
        max-width: 100%;
        line-height: 125% !important;
    }

    .everything-else-is-excuses {
        font-size: 14px;
        margin-top: -7.8rem;
        margin-left: -0.9rem;
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .fewer-words-more-embroidery {
        margin-left: -1rem;
    }

    .everything-else-is-excuses {
        font-size: 23px !important;
        padding-top: -20px !important;
        max-width: 90%;
    }

    .banner-content {
        margin-top: 6rem;
    }
}